/* sections */
:root {
    --primary: #c1121f;
    --btnactive: #9b0f19;

    --bg: #050505;
    --layout: #0f0f0f;
    --bgop: rgba(13, 13, 13, 0.8);

    --line: #242424;

    --text: #f5f5f5;
    --muted-text: #a1a1a1;
}

hr{
    border: none;
    width: 100px;
    height: 3px;
    background: linear-gradient(to right, var(--primary) 0%, var(--bg) 100%);
    margin: 1rem 0;
}

/* -- Nemsablon -- */


.Nemsablon_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Nemsablon_description{
    margin: 2rem;
    max-width: 400px;
}
.Nemsablon_list{
    display: flex;
    max-width: 1300px;
    gap: 1.5rem;
}
.Nemsablon_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: solid 3px var(--line);
    border-radius: 8px;
    width: 200px;
    background: radial-gradient(
        circle at 30% 70%, 
        var(--bg) 30%, 
        var(--line) 100%);
    transition: all 0.3s ease;
}
.Nemsablon_card:hover{
    transform: scale(1.03);
}
.Nemsablon_img{
    width: 150px;
    margin: 1rem;
}

@media (max-width: 1140px) {
    .Nemsablon_list{
        flex-direction: column;
    }
    .Nemsablon_description{
        width: 50%;
    }
    .Nemsablon_card{
        flex-direction: row;
        width: auto;
    }
}
@media (max-width: 750px) {
    .Nemsablon_content{
        flex-direction: column;
    }
    .Nemsablon_description{
        text-align: center;
        width: 90%;
    }
    .Nemsablon_content hr{
        background: linear-gradient(to right, var(--bg) 0%, var(--primary) 40%, var(--primary) 60%, var(--bg) 100%);
        margin: 1rem auto;
    }
}


/* -- Célod -- */


.goal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

            /* - Lista - */
            .goal-list-cont{
                flex: 1;
                margin-left: clamp(16px,
                    calc(16px + (100vw - 1300px) * 0.3067),
                    200px
                    );
            }
            .goal-list {
                list-style: none;
                padding: 0;
                margin: 40px 0;
            }

            .goal-list li {
                display: flex;
                align-items: center;
                gap: 20px;

                padding: 22px 0;

                color: #fff;
                font-size: 1.2rem;
                font-weight: 400;

                border-bottom: 1px solid rgba(255,255,255,0.08);
            }

            .goal-list li i {
                color: #e10600;
                font-size: 1.8rem;

                min-width: 32px;
            }

            /* - Kép - */

            .goal-img {
                flex: 1;
                height: 100%;
                position: relative;
                overflow: visible;
            }

                    /* PIROS HÁTTÉR (keret) */
            .goal-img::before {
                content: "";
                position: absolute;
                inset: 0;

                background: var(--primary);

                clip-path: polygon(20% 0, 100% 0, 85% 100%, 0% 100%);

                /* EZ HOZZA LÉTRE A KERETET */
                transform: translateX(-15px);

                z-index: 1;
            }

            .goal-img img {
                object-fit: cover;
                object-position: calc(50% - 400px) center;
                display: block;
                height: 100%;
                width: 100%;
                min-height: 700px;

                position: relative;
                z-index: 2;

                clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
            }

@media (max-width: 750px){
    .goal{
        flex-direction: column;
    }
    .goal-img::before{
        content: none;
    }
    .goal-img img{
        clip-path: none;
    }
    .goal-list-cont{
        margin-top: 2rem;
    }
    .goal h2{
        width: 100%;
        text-align: center;
    }
    .goal hr{
        background: linear-gradient(to right, var(--bg) 0%, var(--primary) 40%, var(--primary) 60%, var(--bg) 100%);
        margin: 1rem auto;
    }
}

/* -- Szolgáltatások -- */

.szolg_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.szolg_list{
    max-width: 1300px;
    width: 100%;
    gap: 2rem;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.szolg_card{
    border: solid 3px var(--line);
    background: radial-gradient(
        circle at 30% 70%, 
        var(--bg) 30%, 
        var(--line) 100%);
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
}
.szolg_card:hover{
    transform: scale(1.03);
}
.szolg_card h3, .szolg_card p{
    margin: 1.5rem;
}
.szolg_card_desc{
    position: relative;
}
.szolg_img{
    width: 100%;
    object-fit: cover;
    border-bottom: solid 2px var(--primary);
}
.premium{
    border: solid 3px rgb(143, 121, 0);
    scale: 1.03;
}
.szol_logo_cont{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -80px;
    left: 20px;
    background: rgba(193, 18, 31, 1);
    height: 65px;
    width: 65px;
    border-radius: 50%;
        box-shadow:
        0 0 0 5px rgba(0,0,0,1), /* áttetsző fekete gyűrű */
        0 0 0 8px #b90000;           /* háttérszínű külső gyűrű */
}
.szol_logo_cont::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: rgba(0,0,0,.5);
    z-index: 1;
}
.szolg_logo{
    height: 50px;
    z-index: 100;
}
.szol_logo_prem{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -80px;
    left: 20px;
    background: var(--bg);
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border-radius: 50%;
        box-shadow:
        0 0 0 3px rgb(143, 121, 0);
}
.szolg_container hr{
    background: linear-gradient(to right, var(--bg) 0%, var(--primary) 40%, var(--primary) 60%, var(--bg) 100%);
        margin: 1rem auto;
}
.szolg_container p{
    text-align: left;
}


/* -- To Do Line Section -- */

.todo_line_sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo_line_sec h2{
    text-align: center;
}
.todo_line_sec hr{
    background: linear-gradient(to right, var(--layout) 0%, var(--primary) 40%, var(--primary) 60%, var(--layout) 100%);
    margin: 1rem auto;
}

    /* - Line - */

    .todo_line_cont{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 85%;
    }
    .round_cont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .round{
        height: 40px;
        width: 40px;
        border: solid 3px var(--primary);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background: var(--layout);
    }
    .round_holder{
        width: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .line_under_round{
        height: 0px;
        width: calc(100% - 200px);
        position: absolute;
        border: dotted 2px var(--line);
        z-index: 1;
        left: 100px;
    }




    /* - description - */

    .todo_line_desc{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 150px;
    }
    .todo_card{
        width: 180px;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: start;
        margin-top: 2rem;
    }

@media (max-width: 900px) {
    .todo_line_cont{
        flex-direction: row;
        justify-content: space-between;
        align-items: ;
    }
    .round_cont{
        flex-direction: column;
        height: auto;
        flex: 0.5;
    } 
    .todo_line_desc{
        flex: 1.5;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
    }
    .round_holder, .todo_card{
        width: auto;
        margin: 1rem;
        justify-content: center;
        height: 100px;
    }
    .line_under_round{
        width: 0px;
        height: calc(100% - 100px);
        left: 12%;
        top: 50px;
    }
}